body {margin: 0px; padding: 0px; background: url(http://www.tommybahama.com/media/TB001/images/static/bg_tile.jpg) repeat; font-family: "Courier New", Courier; font-size: 12px; color: #515042; line-height: 1.3;}
.content_container {width:1000px; margin-right:auto; margin-left:auto; margin-top:0; margin-bottom:0; padding:0px;}
a {color: #006fa4; text-decoration: none;}
a:hover {text-decoration: underline;}
select, textarea {font-size: 12px; font-family: "Courier New", Courier; background-color: #FCF5E2; border-width: 1px; width: 40px;}
input {color: #515042; background-color: #FCF5E2; border: 1px solid #AFAA92; font-family: "Courier New", Courier; font-size: 12px;}
.logo {float:left; position: relative; top: 25px; left: 96px;}
.error {color: #A83127; line-height: 14px; font-size: 11px; padding-right: 10px;}
.red {color: #A83127;}
.site_message {padding-top: 5px; padding-bottom: 15px; color: #A83127; font-size: 11px;}
.site_error {padding-top: 5px; padding-bottom: 15px; color: #A83127; font-size: 11px;}
.comment {color: #9B9781; line-height: 14px; font-size: 11px;}
.small {line-height: 14px; font-size: 11px;}
#homeFooter {position: absolute; top: 620px; width: 840px; margin-left: 60px;}
.popup_container {margin:0; padding-top:12px; padding-bottom:12px; padding-left:8px; padding-right:8px; width: 100%;}
/*
  *************************
  BACKGROUNDS
  *************************
 */
.top_bg {background: url(http://www.tommybahama.com/media/TB001/images/static/bg_top.jpg) repeat-x; height:70px; border: none;}
.top_nav_bg {background: url(http://www.tommybahama.com/media/TB001/images/static/bg_nav.jpg) repeat-x; height: 40px;}
.main_background {background: url(http://www.tommybahama.com/media/TB001/images/static/bg_main.jpg) repeat-x; height: 315px;}
/*
  *************************
  CHECKOUT/MINICART
  *************************
 */
.checkout_box_container {float: right; padding-right: 70px; height: 68px; width: 255px;}
.checkout_box_bg {background: url("http://www.tommybahama.com/media/TB001/images/static/minicart_bg.png") no-repeat; height: 68px; width: 255px; position: absolute; z-index: 12;}
.checkout_box {padding: 0px 16px 0px 16px; height: 68px; width: 255px; position: absolute; z-index: 13;}
.checkout_box img {border: none;}
.nav_mini_cs {float: left; padding-bottom: 3px;}
.nav_mini_cs a:hover {display: block;}
.nav_mini_cs a:hover img {visibility:hidden;}
.nav_mini_ya {float: left; padding-bottom: 3px;}
.nav_mini_ya a:hover {display:block;}
.nav_mini_ya a:hover img {visibility:hidden;}
.nav_mini_sb {float: left; padding-bottom: 3px;}
.nav_mini_sb a:hover {display:inline;}
.nav_mini_sb a:hover img {visibility:hidden;}
#minicart_container {width: 255px; position: absolute; z-index: 11; top: -210px;}
.minicart_drop_bg {background: url("http://www.tommybahama.com/media/TB001/images/static/minicart_drop_bg.png") no-repeat; height: 221px; width: 255px; position: absolute;}
.minicart_box {padding: 0px 16px 0px 16px; height: 68px; width: 255px; position: relative; top: 70px; left: 2px;}
.minicart_box td {line-height: 14px;}
/*
  *************************
  TOP NAV
  *************************
 */
.top_nav_container {margin: 0px; padding: 0px; width: 1000px; height: 38px;}
ul.top_nav {list-style:none; margin: 0px; padding-top: 17px; padding-left: 80px;}
ul.top_nav li {float:left; position:relative; height: 9px; margin:0px 6px; padding: 0;}
ul.top_nav li a {display:block; font-size: 11px;}
ul.top_nav li a img {border:none;}
.ie ul.top_nav li a img {position: relative; top: -3px;}
ul.top_nav li a:hover {visibility:visible;}
ul.top_nav li a:hover img {visibility:hidden;}
.nav_search_bg {float: right; position:relative; margin-right: 3px; margin-top: 8px; width: 199px; height:26px;}
.nav_search_input input {border: none; background:none; margin-top: 5px; margin-left: 12px; font-family: courier;}
.nav_search_btn {float: right; position:relative; padding-right: 82px; background: url("http://www.tommybahama.com/media/TB001/images/static/search_btn_on.gif") no-repeat; margin-top: 5px;}
.nav_search_btn a:hover {display: block;}
.nav_search_btn a:hover img {visibility:hidden;}
input#product_search {background-color: transparent;}


.nav_Men a {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_men_off.gif") no-repeat;}
/*.nav_Men a:hover {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_men_on.gif") no-repeat;}*/
.nav_Womens a {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_women_off.gif") no-repeat;}
/*.nav_Womens a:hover {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_women_on.gif") no-repeat;}*/
.nav_Swim a {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_swim_off.gif") no-repeat;}
.nav_Golf a {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_golf_off.gif") no-repeat;}
.nav_Gifts a {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_giftsndecor_off.gif") no-repeat;}
/*.nav_BarMusicGifts a {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_home_bar_music_off.gif") no-repeat;}*/
/*.nav_BarMusicGifts a:hover {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_home_bar_music_on.gif") no-repeat;}*/
.nav_StoresCafes a {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_stores_off.gif") no-repeat;}
/*.nav_StoresCafes a:hover {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_stores_on.gif") no-repeat;}*/
.nav_EmailSignup a {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_emailsignup_off.gif") no-repeat;}
/*.nav_EmailSignup a:hover {background: url("http://www.tommybahama.com/media/TB001/images/static/nav_emailsignup_on.gif") no-repeat;}*/
#product_search a {background: url("http://www.tommybahama.com/media/TB001/images/static/search_btn_off.gif") no-repeat;}
#product_search a:hover {background: url("http://www.tommybahama.com/media/TB001/images/static/search_btn_on.gif") no-repeat;}
.nav_search_bg {background: url("http://www.tommybahama.com/media/TB001/images/static/search_bg.gif") no-repeat;}
.main_logo {background: url("http://www.tommybahama.com/media/TB001/images/static/tommy_logo.gif") no-repeat;}

/*
  *************************
  BOOK CONTAINER
  *************************
 */
.book_container {margin-top:0; margin-bottom:0; padding:0px; margin-left: 70px;}
.book_top {background: url("http://www.tommybahama.com/media/TB001/images/static/book_top.png") no-repeat; height:57px;}
.book_repeat {background: url("http://www.tommybahama.com/media/TB001/images/static/book_repeat_ie.png") repeat-y; position:relative;}
.book_btm {background: url("http://www.tommybahama.com/media/TB001/images/static/book_btm.png") no-repeat; height:90px;}
.book_content {padding:0; margin:0; padding-left: 35px; width: 780px;}
.main_content {margin: 0px;}
.main_content_nomargin {margin: 0px -10px;}
/*
  *************************
  LEFT NAV
  *************************
 */
.leftnav a {font-family: Georgia, "Times New Roman", Times, serif; font-weight: bold; color: #515042; font-size: 10px; padding: 0px;}
.leftnav a:hover {text-decoration: none; color: #D19700;}
.leftnav ul {list-style: none; padding:0; margin:0; margin-bottom: 40px;}
.leftnav li {margin: 3px 0px; padding:0; padding-left: 15px;}
td.leftnav ul {line-height: 1;}
.leftnav #leftnav_on {padding:0;}
.leftnav #leftnav_on a {color: #D19700;}
.leftnav_title {margin-left: 15px;}
.leftnav_solid {background:url("http://www.tommybahama.com/media/TB001/images/static/leftnav_solid.gif") no-repeat; height: 1px; font-size: 1px; margin-top: 3px;}
.leftnav_dotted {background:url("http://www.tommybahama.com/media/TB001/images/static/leftnav_dotted.gif") no-repeat; height: 1px; font-size: 1px;}
.leftnav_arrow {padding-left: 7px; padding-right: 4px;}
#leftnav_sub {margin-left: 15px;}
#leftnav_sub_on a {color: #D19700;}
.more_in_store_btn {position: relative; margin-top: 10px; margin-left: 7px; background: url("http://www.tommybahama.com/media/TB001/images/static/moreinstore_on.gif") no-repeat; height: 174px;}
.more_in_store_btn a:hover {display:block;}
.more_in_store_btn a:hover img {visibility:hidden;}
/*
  *************************
  CATEGORY MAIN
  *************************
 */
.category_table {margin: 20px 0px;}
.category_table a {font-weight: bold; line-height: 14px;}
.category_link_table {float: right; margin-top: 10px; margin-bottom: 5px;}
.category_viewall_link {font-weight: bold; font-size: 11px; padding-right: 12px;}
.category_line_top {background:url("http://www.tommybahama.com/media/TB001/images/static/category_line.gif") no-repeat; height: 1px; width: 590px; font-size: 1px; margin-top: 20px;}
.category_line_bottom {background:url("http://www.tommybahama.com/media/TB001/images/static/category_line.gif") no-repeat; height: 1px; width: 590px; font-size: 1px;}
.btn_cat_left {background: url("http://www.tommybahama.com/media/TB001/images/static/btn_arrow_left_on.gif") no-repeat;}
.btn_cat_left a:hover {display:block;}
.btn_cat_left a:hover img {visibility:hidden;}
.btn_cat_right {background: url("http://www.tommybahama.com/media/TB001/images/static/btn_arrow_right_on.gif") no-repeat;}
.btn_cat_right a:hover {display:block;}
.btn_cat_right a:hover img {visibility:hidden;}
.category_result {font-size:12px; padding-left: 15px; padding-right: 15px;}
.product_desc {margin-top: 5px; margin-bottom: 20px; font-family: Georgia, "Times New Roman", Times, serif;}
.product_desc a {color: #515042; font-size: 14px; font-weight: normal;}
.category_colors {font-size: 11px;}
/*
  *************************
  PRODUCT DETAIL
  *************************
 */
.overall_detail {position:relative;}
.product_detail_bg {position: relative; background:url("http://www.tommybahama.com/media/TB001/images/static/product_detail_bg1.jpg") no-repeat; float: left; left: 5px; height: 480px; width: 374px; z-index: 100;}
/* For CD and Gift Card pages */
.product_detail_bg2 {position: relative; background:url("http://www.tommybahama.com/media/TB001/images/static/product_detail_bg2.jpg") no-repeat; float: left; left: 3px; height: 480px; width: 374px; z-index: 110;}
.product_image_container {width: 315px; height: 424px; margin-left: 25px; margin-top: 24px;}
.detail_paperclip {position: absolute; left: 379px; background:url("http://www.tommybahama.com/media/TB001/images/static/product_detail_paperclip.jpg") no-repeat; height: 115px; width: 255px; z-index: 10; }
.detail_paperclip_giftcard {position: absolute; left: 373px; background:url("http://www.tommybahama.com/media/TB001/images/static/product_detail_paperclip.jpg") no-repeat; height: 115px; width: 255px; z-index: 10;*left: 369px;}
.detail_paperclip_end {position: absolute; left: 627px; top: -2px; background:url("http://www.tommybahama.com/media/TB001/images/static/product_detail_paperclip_end.png") no-repeat; height: 115px; width: 16px; z-index: 10;}
.detail_paperclip_text {position: absolute; margin-left: 10px; padding-top: 25px;}
.detail_title {position: relative; font-size: 16px; font-weight: bold; padding-bottom: 0px; line-height: 14px; width: 240px;}
.detail_product_line {position: relative; font-size: 14px; font-weight: bold; padding-bottom: 3px; width: 240px;}
.detail_product_id {position: relative; font-size: 11px; width: 240px;}
.firefox_padding {display:block; height:115px;}
.price_clip {position: absolute; margin: 0; padding:0;}
.product_detail {position: relative; height: 100% !important; height: 480px;}
.product_detail_text {margin-left: 380px;}
.product_detail ul {margin-top: 7px; padding-left: 25px; width: 180px;}
.product_detail li {line-height: 14px; padding-bottom: 5px;}
.product_detail_line_top {background:url("http://www.tommybahama.com/media/TB001/images/static/search_line.gif") no-repeat; height: 1px; width: 246px; font-size: 1px; margin-top: 20px; margin-bottom: 15px; margin-left: 354px;
 padding-top:115px;
 *padding-top:0px;
 *margin-top:115px;
 background-position:bottom;
}
.product_detail_line {background:url("http://www.tommybahama.com/media/TB001/images/static/search_line.gif") no-repeat; height: 1px; width: 246px; font-size: 1px; margin-top: 20px; margin-bottom: 15px; margin-left: 354px;
 padding-top:0px;
 background-position:bottom;
}
.product_info {margin-left: 380px; min-height: 200px;}
.product_color_desc {display:block; color:#8F8E6C; min-height:15px; height:auto !important; height:15px;}
.product_swatches {margin-left: 0px; margin-top: 5px; margin-bottom: 5px;}
.product_swatches a img {height: 25px; width: 25px; cursor: pointer;}
.product_swatches_gc a img {height: 39px; width: 59px; cursor: pointer;}
.product_swatches a:hover img {}
.product_swatches_norm {padding: 0px; border: 1px solid #c0c0c0;}
.product_swatches_sel {padding: 0px; border: 1px solid #515042;}
.product_size {margin-left: 0px; margin-top: 5px; margin-bottom: 10px;}
.product_size select {width: 85px; color: #515042; background-color:#F6EDDE; border-color:#F6EDDE;}
.size_links {float: right; font-size: 11px; line-height: 11px;}
.product_quantity {margin-left: 0px; margin-top: 5px; margin-bottom: 15px;}
.product_quantity select {width: 45px; color: #515042; background-color:#F6EDDE; border-color:#F6EDDE;}
.gift_wrap {float: right; xxxfont-size: 11px; xxxline-height: 15px; margin-top: 3px; font-weight:bold;}
.gift_wrap input {margin-right: 3px; color: #515042; background-color:#F6EDDE; border-color:#F6EDDE;}
.btm_add_to_bag {margin-left: 0px; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_add_to_bag_on.gif") no-repeat; width: 206px;}
.btm_add_to_bag a:hover {display:block;}
.btm_add_to_bag a:hover img {visibility:hidden;}
.suggest_title {margin-top: 20px; margin-left: 10px;}
.suggest_line {margin-left: 10px; background:url("http://www.tommybahama.com/media/TB001/images/static/category_line.gif") no-repeat; height: 1px; width: 590px; font-size: 1px; margin-top: 5px;}
.detail_suggest_table {margin-left: 10px; margin-top: 10px;}
.suggest_product_desc {margin-top: 10px; margin-bottom: 10px; font-weight: normal; font-family: Georgia, "Times New Roman", Times, serif;}
.detail_suggest_table a {color: #515042; font-weight: normal; line-height: 14px;}
.cd_listing {margin-top: 20px; margin-left: 10px;}
.cd_listing h3 {margin-bottom: 5px;}
.cd_padding td {padding-left: 10px;}
tr.cd_blue {background:url("http://www.tommybahama.com/media/TB001/images/static/cd_blue.gif") repeat-y; height:25px; width: 590px;}
td.cd_blue_right {background-position: 101% 0%;}
td.cd_blue_middle {background-position: 35% 0%;}
.cd_tan {height:25px;}
.btn_play {background: url("http://www.tommybahama.com/media/TB001/images/static/btn_play_on.gif") no-repeat;}
.btn_play a:hover {display:block;}
.btn_play a:hover img {visibility:hidden;}
/*
  *************************
  MODAL - DETAIL
  *************************
 */
.overall_modal_detail {position:relative;}
.modal_detail_bg {position: relative; float: left; height: 480px; width: 374px; z-index: 100;}
.modal_detail_container {position: absolute; width: 315px; height: 424px; margin-left: 25px; margin-top: 24px;}
.modal_detail_header {position: relative; left: 80px; height: 75px; width: 565px;}
.modal_detail_btn {position: relative; margin-top: 10px; margin-left: 475px; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_close_on.gif") no-repeat; height: 19px;}
.modal_detail_btn a:hover {display:block;}
.modal_detail_btn a:hover img {visibility:hidden;}
.modal_detail_title_container {position: absolute; margin-left: 300px; padding-top: 10px;}
.modal_detail_title {position: relative; font-size: 16px; font-weight: bold; line-height: 14px; width: 230px;}
.modal_detail_product_id {position: relative; font-size: 11px; width: 240px;}
.modal_detail_price {position: absolute; margin: 0; padding:0; width: 100%;}
.modal_detail {height: 100% !important; height: 480px;}
.modal_detail_text {margin-left: 379px; width: 230px;}
.modal_detail ul {margin-top: 7px; padding-left: 25px; width: 180px;}
.modal_detail li {line-height: 14px; padding-bottom: 5px;}
.modal_detail_line {background:url("http://www.tommybahama.com/media/TB001/images/static/search_line.gif") no-repeat; height: 1px; width: 246px; font-size: 1px; margin-top: 30px; margin-bottom: 10px; margin-left: 354px;}
.modal_detail_line2 {background:url("http://www.tommybahama.com/media/TB001/images/static/search_line.gif") no-repeat; height: 1px; width: 246px; font-size: 1px; margin-top: 15px; margin-bottom: 10px; margin-left: 354px;}
/*
  *************************
  MODALS
  *************************
 */
.modal_header {padding-top: 10px; height: 50px; background:url("http://www.tommybahama.com/media/TB001/images/static/modal_tile.jpg") repeat;}
.modal_title {padding-top: 5px; padding-left: 19px;}
#modal_content {background:url("http://www.tommybahama.com/media/TB001/images/static/modal_tile.jpg") repeat;}
.modal_content {overflow: auto; overflow-x: hidden; color: #515042; padding-top: 10px; padding-bottom: 30px; padding-left: 20px; padding-right: 20px; background:url("http://www.tommybahama.com/media/TB001/images/static/modal_tile.jpg") repeat;}
.modal_btn {margin-top: 10px; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_close_on.gif") no-repeat; float: right;}
.modal_btn a:hover {display:block;}
.modal_btn a:hover img {visibility:hidden;}
.modalForm input, .modalForm textarea {color: #515042; background-color: #FCF5E2; border: 1px solid #AFAA92; font-family: "Courier New", Courier; font-size: 12px; width: 250px;}
.modalForm select {color: #515042; background-color: #FCF5E2; border: 1px solid #AFAA92; font-family: "Courier New", Courier; font-size: 12px; width: 250px;}
/* Gift Services*/
.firefox_padding30 {display:block; height:30px;}
.giftbox_table {margin-top: -15px; padding: 0px; line-height: 14px; table-layout: fixed;}
.giftbox_table td {padding: 5px 0px 5px 0px;}
.giftbox_table img {padding-left: 8px;}
.giftbox_table_promo input {background-color: #FCF5E2; border: 1px solid #AFAA92; font-family: "Courier New", Courier; font-size: 12px; width: 50px;}

/*
  *************************
  SEARCH RESULTS PAGE
  *************************
 */
.search_table {margin: 20px 0px;}
.search_table a {font-weight: bold; line-height: 14px;}
.search_line_top {background:url("http://www.tommybahama.com/media/TB001/images/static/search_line.gif") no-repeat; height: 1px; width: 790px; font-size: 1px; margin-top: 20px;}
.search_line_bottom {background:url("http://www.tommybahama.com/media/TB001/images/static/search_line.gif") no-repeat; height: 1px; width: 790px; font-size: 1px;}
.search_text {margin-left: 10px;}
.search_result_text {margin-top: 15px; margin-bottom: 5px;}
.search_brand_results li {list-style: none;}
.search_brand_results ul {margin-bottom: 10px;}
/*
  *************************
  CHECKOUT NAV
  *************************
 */
.checkout_nav {float: right; margin-top: -30px;}
ul.checkout_nav {list-style:none; margin: 0px; padding-top: 5px;}
ul.checkout_nav li {float:left; position:relative; height: 16px; margin:0px 8px; padding: 0;}
.checkout_nav_billing {background:url("http://www.tommybahama.com/media/TB001/images/static/checkout/nav_chk_billing_on.gif") no-repeat;}
.checkout_nav_payment {background:url("http://www.tommybahama.com/media/TB001/images/static/checkout/nav_chk_payment_on.gif") no-repeat;}
.checkout_nav_review {background:url("http://www.tommybahama.com/media/TB001/images/static/checkout/nav_chk_review_on.gif") no-repeat;}
.checkout_nav_confirmation {background:url("http://www.tommybahama.com/media/TB001/images/static/checkout/nav_chk_confirmation_on.gif") no-repeat;}
ul.checkout_nav li a {display:block; font-size: 11px;}
ul.checkout_nav li a img {border:none;}
ul.checkout_nav li a:hover {visibility:visible;}
ul.checkout_nav li a:hover img {visibility:hidden;}
/*
  *************************
  CHECKOUT - BILLING AND SHIPPING
  *************************
 */
.billingshipping_table td {padding-bottom: 5px;}
.checkout_error {padding-top: 5px; padding-bottom: 15px; color: #A83127; font-size: 11px;}
.checkout_error_title {color: #A83127;}
.checkout_lineleft {background: url("http://www.tommybahama.com/media/TB001/images/static/checkout/checkout_lineleft.gif") repeat-y; width: 1px;font-size:1px;}
.billing_top {margin-top: 10px; margin-left: 20px;}
.shipping_top {margin-top: 10px; margin-left: 5px;}
.billing_title img {margin-top: 5px; padding-bottom: 5px;}
.billing {margin-left: 20px;}
.shipping {margin-left: 5px; padding-right: 10px;}
.checkbox {margin-right: 3px; background-color: #FCF5E2 !important; border: none !important; width: 20px !important;}
.billing_checkbox {margin-right: 3px; background-color: #FCF5E2 !important; border: none !important; width: 20px !important;}
.shipping_checkbox {margin-right: 3px; background-color: #FCF5E2 !important; border: none !important; width: 20px !important;}
.ship_floatleft {margin-top: 3px; float:left; position: absolute;}
.ship_floatright {float: right; width: 245px;}
.billing input {color: #515042; background-color: #FCF5E2; border: 1px solid #AFAA92; font-family: "Courier New", Courier; font-size: 12px; width: 250px; disabled: false; readonly: false;}
.shipping input {color: #515042; font-family: "Courier New", Courier; font-size: 12px; width: 250px;}
.shippinginputunlocked {color: #515042; background-color: #FCF5E2; border: 1px solid #AFAA92;}
.shippinginputlocked {background: none; border: none; padding-top: 1px; border-bottom: 1px dotted #A09C88;}
.inputlocked {color: #515042; font-family: "Courier New", Courier; font-size: 12px; width: 250px; background: none; border: none; padding-top: 1px; border-bottom: 1px dotted #A09C88;}
.billing select {width: 250px;}
.shipping select {width: 250px;}
.bill_floatleft {float:left; position: absolute;}
.bill_floatright {float: right; width: 245px;}
.btn_continue_big {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/checkout/btn_continue_big_on.gif") no-repeat; height: 32px; padding-right: 30px; margin-top: 20px;}
.btn_continue_big a:hover {display:block;}
.btn_continue_big a:hover img {visibility:hidden;}
.btn_submit_order {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/checkout/btn_submit_order_on.gif") no-repeat; height: 32px;}
.btn_submit_order a:hover {display:block;}
.btn_submit_order a:hover img {visibility:hidden;}
.billing_sigin {margin-top: 10px; margin-left: 20px; margin-right: 30px;}
.billing_sigin input {color: #515042; background-color: #FCF5E2; border: 1px solid #AFAA92; font-family: "Courier New", Courier; font-size: 12px; width: 150px;}
.password_div {width: 335px; margin-top: 10px;}
.billing_pw {float: left;}
.billing_pw_confirm {float: right;}
.btn_billing_signin {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/checkout/btn_create_continue_on.gif") no-repeat; height: 23px; margin-top: -20px;}
.btn_billing_signin a:hover {display:block;}
.btn_billing_signin a:hover img {visibility:hidden;}
.right_payment_info {float: right; width: 180px;}
.right_order_table {margin-top: 5px;}
/*
  *************************
  CHECKOUT - PAYMENT
  *************************
 */
.checkout_table td {padding-bottom: 3px;}
.payment {margin-left: 20px; padding-bottom: 10px;}
.payment input {color: #515042; background-color: #FCF5E2; border: 1px solid #AFAA92; font-family: "Courier New", Courier; font-size: 12px; width: 250px;}
.payment select {width: 250px;}
.payment_ccv input {width: 75px;}
.payment_space_top {padding-bottom: 5px;}
.payment_space {padding: 5px 0px;}
.payment_red {color: #A83127;}
.right_info {padding-top: 5px;}
.csv_left {float: left; margin-left: -10px; padding-top: 0px;}
.csv_right {margin: 0px; margin-left: 275px; padding-top: 0px;}
/*
  *************************
  CHECKOUT - CONFIRMATION
  *************************
 */
.cart_table {line-height: 14px;}
.cart_table td {padding: 5px 0px 5px 0px;}
.shortline {background: url("http://www.tommybahama.com/media/TB001/images/static/title_shortline.gif") no-repeat; height:1px; width: 370px; margin-top: 3px; margin-bottom: 3px; font-size:1px;}
.shortlinevar {background: url("http://www.tommybahama.com/media/TB001/images/static/title_shortline.gif") repeat-x; height:1px; margin-top: 5px; margin-bottom: 3px; font-size:1px; clear: all;}
.checkout_green {color: #617247;}
.floatleft {float: left;}
.line_btm {border-bottom: 1px solid #A4A08C;}
.line_btm_total {border-bottom: 2px solid #A4A08C; font-weight: bold;}
.line_right {border-right: 1px solid #A4A08C;}
.line_btm_light {border-bottom: 1px solid #DCD5C6;}
.line_all {border: 1px solid #A4A08C;}
.input_check input {background-color: #F6EDDE;}
.bag_flt_right_title {float: right; display: block; padding-right: 5px;}
.bag_flt_right_title_end {float: right; display: block;}
.bag_flt_right {float: right; display: block; padding-right: 10px;}
* html .bag_flt_right {padding-right: 30px;}


.bag_color_col {text-align: right; padding-right: 10px;}
.bag_link a {font-size: 14px; font-weight: bold;}
.back_btn {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/checkout/btn_back_on.gif") no-repeat; height: 36px;}
.back_btn a:hover {display:block;}
.back_btn a:hover img {visibility:hidden;}
.line_guarantee {background: url("http://www.tommybahama.com/media/TB001/images/static/title_bar_guarantee.gif") no-repeat; height:1px; width: 790px; margin-top: 3px; margin-bottom: 3px; font-size:1px;}
.guarantee {padding-top: 5px; line-height: 16px;}
/*
  *************************
  GIFT WRAP POP-UP
  *************************
 */
#giftWrapContainer {position:absolute;}
.gift_wrap_box_outer {position: absolute; top: 0px; width:220px; height:260px; z-index:5; background-color:#F6EAD8; background: url("http://www.tommybahama.com/media/TB001/images/static/gift_wrap_bg.gif") no-repeat;}
.gift_wrap_gift_box_outer {position: absolute; top: 0px; width:512px; height:305px; z-index:5; background-color:#F6EAD8; no-repeat;}
.gift_wrap_box_inner {margin: 0px; padding: 0px; border: solid 1px #AFAA92; margin: 5px 5px 5px 5px; padding: 10px 10px 3px 10px; height: 235px;}
.gift_wrap_line {background: url("http://www.tommybahama.com/media/TB001/images/static/title_bar_giftwrap.gif") no-repeat; height: 1px; width: 190px; font-size: 1px; margin-top: -5px;}
.gift_wrap_table {margin-top: 10px;}
.gift_wrap_table td {padding: 0px !important; padding-bottom: 5px !important;}
.gift_wrap_table input {background-color: #FCF5E2; border: 1px solid #AFAA92; font-family: "Courier New", Courier; font-size: 12px; width: 125px;}
.message_textbox textarea {width: 98%; height: 80px; border: 1px solid #AFAA92; background-color: #FCF5E2; font-family: "Courier New", Courier; font-size: 12px;}
.gift_wrap_buttons {padding-top: 5px;}
.btn_save {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_save_on.gif") no-repeat; padding-right: 5px;}
.btn_save a:hover {display:block;}
.btn_save a:hover img {visibility:hidden;}
.btn_cancel {float: right;}
.btn_cancel a:hover {display:block;}
.btn_cancel a:hover img {visibility:hidden;}
/*
  *************************
  SHOPPING BAG PAGE
  *************************
 */
.shoppingbag_table {margin-top: -15px; padding: 0px; line-height: 14px; table-layout: fixed;}
.shoppingbag_table td {padding: 5px 0px 5px 0px;}
.shoppingbag_table img {padding-left: 8px;}
.shopping_table_promo input {background-color: #FCF5E2; border: 1px solid #AFAA92; font-family: "Courier New", Courier; font-size: 12px; width: 50px;}
.btn_continue {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/checkout/continue_shopping_on.gif") no-repeat; height: 36px;}
.btn_continue a:hover {display:block;}
.btn_continue a:hover img {visibility:hidden;}
.btn_continue_left {float: left; background: url("http://www.tommybahama.com/media/TB001/images/static/checkout/continue_shopping_on.gif") no-repeat; height: 36px;}
.btn_continue_left a:hover {display:block;}
.btn_continue_left a:hover img {visibility:hidden;}
.leftpadding {padding-left: 10px;}
.checkout_btn {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/checkout/btn_checkout_on.gif") no-repeat; margin-top: 4px; margin-bottom: 10px;}
.checkout_btn a:hover {display:block;}
.checkout_btn a:hover img {visibility:hidden;}
.order_total {font-weight: bold;}
.bag_signin {margin-left: 10px; margin-right: 5px;}
.bag_signin_fields input {background-color: #FCF5E2; border: 1px solid #AFAA92; font-family: "Courier New", Courier; font-size: 12px; width: 150px;}
.bag_signin_fields {padding-top: 5px; padding-bottom: 5px;}
.btn_signin_cart {background: url("http://www.tommybahama.com/media/TB001/images/static/checkout/btn_sign_in_on.gif") no-repeat; margin-top: 4px;}
.btn_signin_cart a:hover {display:block;}
.btn_signin_cart a:hover img {visibility:hidden;}
.bag_suggest_line {background:url("http://www.tommybahama.com/media/TB001/images/static/category_line.gif") no-repeat; height: 1px; width: 490px; font-size: 1px; margin-top: 5px;}
.bag_suggest_table {margin-left: 10px; margin-top: 10px;}
.bag_suggest_product_desc {margin-top: 5px; margin-bottom: 5px;}
.bag_suggest_table a {color: #515042; font-weight: bold; line-height: 14px;}
/*
  *************************
  ACCOUNT PAGE LAYOUT
  *************************
 */
.title {margin:0; padding:0; height:52px; width: auto;}
.title_bar {position:absolute; background: url("http://www.tommybahama.com/media/TB001/images/static/title_bar.gif") no-repeat; height: 4px; width: 790px; margin-top: -20px; font-size: 4px;}
.title_bar_var {position:absolute; background: url("http://www.tommybahama.com/media/TB001/images/static/title_bar.gif") no-repeat; height: 4px; margin-top: -12px; font-size: 4px;}
.title_signin {float: right; margin-top: 20px; font-size: 11px;}
.top_txt {margin: 6px 0px;}
.info_container {width: 370px;}
.title_container {width: 370px; padding-top: 15px;}
.title_shortline {background: url("http://www.tommybahama.com/media/TB001/images/static/title_shortline.gif") no-repeat; height:1px; width: 370px; margin-top: 10px; margin-bottom: 10px; font-size:1px;}
.title_shortline_230 {background: url("http://www.tommybahama.com/media/TB001/images/static/title_shortline_230.gif") no-repeat; height:1px; width: 253px; margin-top: 5px; margin-bottom: 5px; font-size: 1px;}
.title_dottedline {margin:0; padding:0;}
.account_info {padding-bottom: 15px;}
.account_bold {font-weight: bold;}
.order_container {width: 370px; height: 100%;}
.ship_blue {font-weight:bold;}
.ecard_container {width: 370px; height: 100%;}
.accountForm input, .accountForm textarea {color: #515042; background-color: #FCF5E2; border: 1px solid #AFAA92; font-family: "Courier New", Courier; font-size: 12px; width: 250px;}
.accountForm select {color: #515042; background-color: #FCF5E2; border: 1px solid #AFAA92; font-family: "Courier New", Courier; font-size: 12px; width: 250px;}
.accountFormWidth {width: 251px;}

/*
  *************************
  RETURN PAGES
  *************************
 */
.return_orders {list-style:none;}
.return_orders li {width:180px;text-align:right;border-bottom:dashed 1px #a09c88;padding:0 0 10px 0;margin:10px 0 0 0;}
.return_orders li label {float:left;width:110px;text-align:left;}
.return_left_padded {padding-left:6px;}
.return_right_padded {text-align:right;padding-right:6px;}
.return_status {list-style:none;}
.return_status li {clear:both;margin-bottom:5px;}
.return_status li label {font-weight:bold;float:left;width:140px;text-align:left;color:#7d0c00;margin-bottom:5px;}
.return_status li label.star {width:30px;}
.return_reason select {width: 105px; color: #515042; background-color:#F6EDDE; border-color:#F6EDDE;}
.checkout_nav_confirm {background:url("http://www.tommybahama.com/media/TB001/images/static/nav_return_confirm_on.gif") no-repeat;}
.btn_return_step_3 {float: right; height: 23px;margin:10px 0 0 0;}
.btn_return_cont {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_return_cont_on.gif") no-repeat; height: 23px;margin:30px 0 20px 0;}
.btn_return_step_2 {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_return_step_2_on.gif") no-repeat; height: 23px;margin:30px 0 20px 0;}
.btn_return_step_b3 {float: left; height: 23px;margin:10px 0 20px 0;}
.btn_return_print_page {float: left; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_return_print_page_on.gif") no-repeat; height: 23px;margin:10px 0 20px 0;}
.btn_packing_slip {float: left; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_packing_slip_on.gif") no-repeat; height: 23px;margin:10px 0 20px 0;}
.btn_return_label {float: left; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_return_label_on.gif") no-repeat; height: 23px;margin:10px 0 20px 0;}
.btn_confirmation {float: left; height: 23px;margin:10px 0 20px 0;}
.btn_request_password {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_request_password_on.gif") no-repeat; height:19px; margin:10px 0 0 0;}  
.btn_test {text-align: right; height:19px; margin:10px 0 5px 0; width:250px;}  
.btn_print_confirmation {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_print_confirmation_on.gif") no-repeat; height:23px; margin:0 10px 5px 0;} 

/*
  *************************
  PAGE BUTTONS
  *************************
 */
.title_btn_edit {float: right;background: url("http://www.tommybahama.com/media/TB001/images/static/btn_edit_on.gif") no-repeat;margin-top: 4px;}
.title_btn_edit a:hover {display:block;}
.title_btn_edit a:hover img {visibility:hidden;}
.title_btn_edit_left {float: left; margin-top: 3px;background: url("http://www.tommybahama.com/media/TB001/images/static/btn_edit_on.gif") no-repeat;}
.title_btn_edit_left a:hover {display:block;}
.title_btn_edit_left a:hover img {visibility:hidden;}
.title_btn_edit_230 {float: right; padding-right: 32px; padding-bottom: 5px;}
.title_btn_edit_230 a:hover {display:block;}
.title_btn_edit_230 a:hover img {visibility:hidden;}
.title_btn_add {float: right; padding-bottom: 3px; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_add_on.gif") no-repeat;}
.title_btn_add a:hover {display:block;}
.title_btn_add a:hover img {visibility:hidden;}
.title_btn_delete {float: left; margin-top: 3px; margin-left: 10px; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_delete_on.gif") no-repeat;}
.title_btn_delete a:hover {display:block;}
.title_btn_delete a:hover img {visibility:hidden;}
.title_btn_delete_left { margin-top: 3px;background: url("http://www.tommybahama.com/media/TB001/images/static/btn_delete_on.gif") no-repeat;}
.title_btn_delete_left a:hover {display:block;}
.title_btn_delete_left a:hover img {visibility:hidden;}
.btn_print_page {float:right; margin-top: 5px; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_print_on.gif") no-repeat;}
.btn_print_page a:hover {display:block;}
.btn_print_page a:hover img {visibility:hidden;}
.title_btn_address {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_address_on.gif") no-repeat; margin-top: 4px;}
.title_btn_address a:hover {display:block;}
.title_btn_address a:hover img {visibility:hidden;}
.title_btn_viewall {float: right; margin-top: 4px;}
.title_btn_viewall a:hover {display:block;}
.title_btn_viewall a:hover img {visibility:hidden;}
.btn_register {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_register_on.gif") no-repeat; height: 23px; margin-top: 12px;}
.btn_register a:hover {display:block;}
.btn_register a:hover img {visibility:hidden;}
.btn_createaccount {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_createaccount_on.gif") no-repeat; height: 23px; margin-top: 12px;}
.btn_createaccount a:hover {display:block;}
.btn_createaccount a:hover img {visibility:hidden;}
.btn_forgot_pwd {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_request_on.gif") no-repeat; height: 23px; margin-top: 12px;}
.btn_forgot_pwd a:hover {display:block;}
.btn_forgot_pwd a:hover img {visibility:hidden;}
.btn_signin {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_sign-in_on.gif") no-repeat; height: 23px; margin-top: 12px;}
.btn_signin a:hover {display:block;}
.btn_signin a:hover img {visibility:hidden;}
.btn_submit {float: right; height: 23px; margin-top: 12px;}
.btn_submit a:hover {display:block;}
.btn_submit a:hover img {visibility:hidden;}
.btn_check_gc {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_check_on.gif") no-repeat; height: 23px;}
.btn_check_gc a:hover {display:block;}
.btn_check_gc a:hover img {visibility:hidden;}
.btn_reset {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_reset_on.gif") no-repeat; height:23px; margin:0 15px 0 0;}
.btn_save_new {float: right; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_save_new_on.gif") no-repeat; height:23px; margin:0;}
.btn_default a:hover {display:block;}
.btn_default a:hover img {visibility:hidden;}
/*.btn_checkout_new {float: left; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_checkout_new_on.gif") no-repeat; height: 28px;margin:0;}*/
.title_btn_remove {float: left; margin-top: 3px; margin-left: 10px; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_remove_on.gif") no-repeat;}

.return_h2 {
color:#515042;
font-family:georgia;
font-size:16px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
}

/*
  *************************
  ACCOUNT PAGE
  *************************
 */
.checkout_top {padding: 15px 0px;}
.checkout_bg {background: url("http://www.tommybahama.com/media/TB001/images/static/bg_checkout.jpg") repeat-y; height: 42px;}
.cc_title {font-weight: bold; font-size: 14px;}
.cc_container {float: right;}
.credit_card {padding: 10px 0px;
;}
/*
  *************************
  STORE LOCATOR LANDING PAGE
  *************************
 */
.storesnav {margin:0; padding:0; height:26px; width: auto;}
.store_main_image {padding-top: 10px;}
.store_main_text_red {margin-top: 20px; margin-left: 15px;}
.store_main_text {margin-top: 5px; margin-left: 15px; padding-right: 30px;}
/*
  *************************
  STORE LOCATOR SEARCH
  *************************
 */
.store_locator_table {margin-top: -15px; padding: 0px; line-height: 16px; clear: both;}
.locator_top {margin-top: 10px;}
.search_container {padding-top: 10px;}
.search_container input {font-family: "Courier New", Courier; font-size: 12px; margin: 5px 0px;}
.search_container select {font-family: "Courier New", Courier; font-size: 12px; margin: 5px 0px; width: 210px;}
.search_rightborder {border-right: 1px solid #A4A08C;}
.search_bar {margin: 10px 0px;}
.btn_search {float: right; margin-top: 6px; margin-right: 15px; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_search_on.gif") no-repeat;}
.btn_search a:hover {display:block;}
.btn_search a:hover img {visibility:hidden;}
.or_image {padding: 5px 0px; margin-left: 100px;}
.result_container {padding-top: 10px; line-height: 16px;}
.result_title {margin: 5px 0px;}
.result_table {margin-top: 10px;}
.result_table_padding td {padding: 10px 0px 10px 10px;}
.btn_viewmap {margin-bottom: 5px; background: url("http://www.tommybahama.com/media/TB001/images/static/btn_view_map_on.gif") no-repeat;}
.btn_viewmap a:hover {display:block;}
.btn_viewmap a:hover img {visibility:hidden;}
.btn_reservation {background: url("http://www.tommybahama.com/media/TB001/images/static/btn_reservation_on.gif") no-repeat;}
.btn_reservation a:hover {display:block;}
.btn_reservation a:hover img {visibility:hidden;}
.result_store_cafe_image {padding: 10px 0px 0px 10px;}
/*
  *************************
  FOOTER NAV
  *************************
 */
#navlist ul {align:center; display:inline;}
#navlist {align: center; width: 890px; height: 16px; position: relative; display: block; text-align: center;}
#navlist li {display: inline; list-style-type: none; padding-right: 20px; font-family: Georgia; font-weight: bold; font-size: 11px;}
#navlist li a {color: #C6C3AB;}
#navlist li a:hover {color: #515042;}
#navlist2 {align: center; width: 890px; height: 20px; padding-bottom: 20px; position: relative; display: block; text-align: center;}
#navlist2 li {display: inline; list-style-type: none; padding-right: 20px; font-family: Georgia; font-weight: bold; font-size: 9px;}
#navlist2 li a {color: #C6C3AB;}
#navlist2 li a:hover {color: #515042;}
/*
  *************************
  EVERGREEN CONTENT
  *************************
 */
.evergreen_text ul {margin-left:40px; margin-top:10px;margin-bottom:15px;}
.evergreen_text ol {margin-left:40px; margin-top:10px;margin-bottom:15px;}
.evergreen_leftnav a {font-family: Georgia, "Times New Roman", Times, serif; font-weight: bold; color: #515042; font-size: 10px; padding:0;}
.evergreen_leftnav a:hover {text-decoration: none; color: #D19700;}
.evergreen_leftnav ul {list-style: none; padding:0; margin:0; margin-bottom: 40px;}
.evergreen_leftnav li {margin: 3px 0px; padding:0; padding-left: 5px;}
.evergreen_leftnav #leftnav_on {padding:0;}
.evergreen_leftnav #leftnav_on a {color: #D19700;}
.evergreen_leftnav_title {margin-left: 15px;}
.evergreen_leftnav_solid {background:url("http://www.tommybahama.com/media/TB001/images/static/leftnav_solid.gif") no-repeat; height: 1px; font-size: 1px; margin-top: 3px;}
.evergreen_leftnav_dotted {background:url("http://www.tommybahama.com/media/TB001/images/static/leftnav_dotted.gif") no-repeat; height: 1px; font-size: 1px;}
.evergreen_leftnav_arrow {padding-left: 7px; padding-right: 4px;}
#evergreen_leftnav_sub {margin-left: 15px;}
#evergreen_leftnav_sub_on a {color: #D19700;}
/*
  **********************
  Slideshow styles
  ***********************
 */
#myGallery {z-index:5; display: none;}
.jdGallery {overflow: hidden; position: relative;}
.jdGallery img {border: 0px; margin: 0px;}
.jdGallery .slideElement {width: 100%; height: 100%; background-color: #000; background-repeat: no-repeat;}
.jdGallery a {font-size: 100%; text-decoration: none; color: inherit;}
#slideshow {width: 100px; height: 100px; padding: 0px; margin: 0px;}
.jdGallery {width: 588px; height: 206px;}
.Men_gallery .imageElement {width:562px; height:620px;}
/*
  *************************
  MORE IN STORE (modal)
  *************************
*/
.locator {float: left; width: 77px; height: 77px; padding-right: 15px; background: url("http://www.tommybahama.com/media/TB001/images/static/mis_locator.gif") no-repeat;}
.locator_text {margin: 0px; padding-top: 20px;}
.concierge {float: left; width: 128px; height: 71px; background: url("http://www.tommybahama.com/media/TB001/images/static/mis_concierge.gif") no-repeat; padding-right: 15px;}
.concierge_text {margin: 0px; padding-top: 9px;}
.image_content {float:left;}
/*
  *************************
  GIFT BOX
  *************************
*/

.gift_box_note {background:url('http://tommy.ahfx.net/images/gift_box_note.gif') no-repeat;height:105px;width:363px;}
.gift_box_note_text {padding-left:116px;padding-top:28px;}
.gift_box_note_holder {padding:0;margin:0;padding-left:25px;}
.gift_box_items li {width:250px;text-align:left;border-bottom:dashed 1px #a09c88;padding:0 0 10px 0;margin:10px 0 0 0;}
.gift_box_items li label {float:left;width:70px;text-align:left;}
.gift_box_item_info {float:left;}
.giftbox_title {width:115px;float:left;}
.giftbox_removebox {width:100px;float:left;text-align:right;}
.giftbox_addnote {width:285px;float:left;text-align:center;}
.giftbox_addnote img, .giftbox_removebox img {vertical-align:middle;}
.dkred {color:#790000;}
.ul_default {list-style:none;}  
.search_results li {padding-left:15px;}
.search_logo {padding-left:15px;width:80px;text-align;left;}
.search_name {width:250px;text-align:left;}
/*
***********************
GIFT SERVICES
***********************
*/

.title_bar_gift_wrap {position:absolute; background: url("http://www.tommybahama.com/media/TB001/images/static/title_bar.gif") no-repeat; height: 4px; width: 790px; margin-top: -20px; font-size: 4px;}	
.fullwidth {}
.btn_cancel_exit {float:right; padding:0; margin:23px 10px; height:23px;}
.darker_back {background-color: #eee4cc;}
.dark_back{background-color: #f3ebd8;}	
.h2_gift_services{font: 16px georgia; font-weight: bold; color: #515042;}
.no_border{border:none;}
.small_font{font-size:11px; word-spacing:-4px; margin-top:4px;}

.gift_box_item_info span{font-size:11px;}
#gift_box_holder{background:url("http://www.tommybahama.com/media/TB001/images/static/bg_box_wrap.gif") repeat-y -2px 0;}

.gift_detail_holder{}
.gift_detail_holder label
{float:right;width:164px;text-align:right;}
.gift_detail_holder label img{vertical-align:middle;padding:5px 4px 5px 0;}
.gift_detail_holder div{float:left;}
.gift_detail_holder ul li{float:left;width:223px;background: url("http://www.tommybahama.com/media/TB001/images/static/vertical_line.gif") repeat-y top left;}
.gift_detail_holder ul li.first{width:69px;background:none;}
.gift_detail_holder ul li.first img{padding-top:8px;}
.gift_detail_holder ul li label{float:left;width:77px;}
.gift_detail_holder ul li label img{padding:5px 10px 5px 2px;}
.gift_detail_holder div.icons img{float:left;vertical-align:middle;padding:0px;display:none;}
.gift_detail_holder div h2{float:left;margin-top:4px;}

.gift_pop{width:151px;position:relative;z-index:22;left:135px;bottom:45px;padding-top:3px;background: url("http://www.tommybahama.com/media/TB001/images/static/bg_gift_pop_top.gif") no-repeat top center;}
.gift_pop ul{padding-bottom:2px;background: url("http://www.tommybahama.com/media/TB001/images/static/bg_gift_pop_bottom.gif") no-repeat bottom;}
.gift_pop ul li{background:url("http://www.tommybahama.com/media/TB001/images/static/bg_gift_pop_on.gif") repeat-y center;height:31px;width:151px;padding:0;margin:0;overflow:hidden;border-bottom:solid 1px #586e81;}
.gift_pop ul li a:hover{background: url("http://www.tommybahama.com/media/TB001/images/static/bg_gift_pop_off.gif") repeat-y center ;}
.gift_pop ul li.sep{font-size:1px;height:1px;width:153px;}
.gift_pop ul li a{padding:8px 0 15px 10px;display:block;}
a.light_link, a.light_link:link, a.light_link:visited, a.light_link:hover, a.light_link:active {font-size:11px;font-weight:normal;}
	
.btn_gift_box {background: url("http://www.tommybahama.com/media/TB001/images/static/btn_add_to_gift_box_on.gif") no-repeat; height:21px; margin:3px 0;}  		
.btn_gift_box a:hover {display:block;}
.btn_gift_box a:hover img {visibility:hidden;}

.btn_gift_wrap {background: url("http://www.tommybahama.com/media/TB001/images/static/btn_add_to_gift_wrap_on.gif") no-repeat; height:21px; margin:3px 0;}  		
.btn_gift_wrap a:hover {display:block;}
.btn_gift_wrap a:hover img {visibility:hidden;}

.btn_gift_note {background: url("http://www.tommybahama.com/media/TB001/images/static/btn_add_gift_note_on.gif") no-repeat; height:21px; margin:3px 0;}  		
.btn_gift_note a:hover {display:block;}
.btn_gift_note a:hover img {visibility:hidden;}

.btn_remove {background: url("http://www.tommybahama.com/media/TB001/images/static/btn_remove_on.gif") no-repeat;padding:0;margin:3px 0 0 0 ;height:19px;}
.btn_remove a:hover {display:block;}
.btn_remove a:hover img {visibility:hidden;}

.btn_save_continue {float:right;background: url("http://www.tommybahama.com/media/TB001/images/static/btn_save_continue_on.gif") no-repeat;padding:0;margin:20px 0 20px 10px;height:23px;}
.btn_save_continue a:hover {display:block;}
.btn_save_continue a:hover img {visibility:hidden;}

.btn_checkout_new {float:left;background: url("http://www.tommybahama.com/media/TB001/images/static/btn_checkout_new_on.gif") no-repeat;padding:0;margin:10px 0;height:36px;}
.btn_checkout_new a:hover {display:block;}
.btn_checkout_new a:hover img {visibility:hidden;}

.top_space {height: 20px;}
.section_title {font-size:11px; word-spacing:-4px; margin:0px 0 0px 10px; padding-top: 3px; bottom: 0;}
.section_title img{padding:0 4px 0 0; vertical-align:middle;}

#gw_container1 {width:810px;padding-top:25px;text-align:center;background-color:#f7f0e0;}
#gw_container2 {width:790px;margin:0 auto;margin:27px;}
